
.heading {
    text-align: center;
    font-size: larger;
}

.form {
    width: 90%;
    margin: auto;
}

.inputs_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.inputs_container > div {
    height: 50px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-size: 18px;
    outline: none;
    padding-inline: 15px;
}

.form input[type='file'] {
    font-size: 16px;
}